<div class="container">

  <hr>

  <h1><small> <u>Person Form</u></small></h1>

  <form [formGroup]="myForm" novalidate (ngSubmit)="save(myForm.value, myForm.valid)">

    <div class="form-group">
      <label for="person">Nom</label>
      <input type="text" formControlName="name" class="form-control" id="person" required>
      <small [hidden]="myForm.controls.name.valid || (myForm.controls.name.pristine && !submitted)">
        Il faut donner un nom (minimum 3 caracteres).
      </small>
    </div>

    <div class="form-group">
    <!--<div>-->
      <label for="age">Age</label>
      <input type="number" formControlAge="age" class="form-control" id="age" required>
        <small [hidden]="myForm.controls.age.valid || !submitted">
          Il faut mettre un age. 
      </small>
    </div>

    <button type="submit" class="btn btn-success" (click)="formFill()">Soumettre</button>

  </form>
</div>